from pathlib import Path
from setuptools import find_namespace_packages, setup


BASE_DIR = Path(__file__).parent
with open(Path(BASE_DIR, "requirements.txt"), "r") as f:
    required_installs = [ln.strip() for ln in f.readlines()]


setup(
    name="{{project_name}}",
    version={{version}},
    author= {{authors}},
    install_requires=[required_installs],
    packages=find_namespace_packages(),
    description={{description}},
    keywords={{keywords}},
    url={{git_url}}
)